<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header (pageTitle='性能总览')">
    <!-- META SECTION -->
    <title>Joli Admin - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" href="/css/theme-default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.min.css"/>
    <!-- EOF CSS INCLUDE -->
</head>


<body>


<!-- START PAGE CONTAINER -->
<div class="page-container  page-navigation-top-fixed">

    <!-- START PAGE SIDEBAR -->
    <div th:include="fragments/layout :: sideBar" th:remove="tag"></div>
    <!-- END PAGE SIDEBAR -->


    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <div th:include="fragments/layout :: contentTop" th:remove="tag"></div>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="index">首页</a></li>
            <li class="active">性能总览</li>
        </ul>
        <!-- END BREADCRUMB -->

        <div class="page-title">
            <h2><a href="/"><span class="fa fa-arrow-circle-o-left"></span></a> 性能总览</h2>
            <button class="btn btn-success" type="button" onclick="flashDash()"><span class="fa fa-refresh"></span>刷新
            </button>
        </div>

        <div class="row" id="dashboardC">

            <div class="col-md-3">

                <!-- 总内存显示块 -->
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>内存使用</h3>
                            <span>内存的使用情况</span>
                        </div>

                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="memory" style="display:inline-block;height: 200px;width: 200px"></div>
                        <div id="memoryData"  style="display: inline-block;position: absolute;top: 35px;">
                            <h2>总内存:600Mib</h2>
                            <h2>未使用:600Mib</h2>
                            <h2>已使用:600Mib</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-3">

                <!-- 堆内存显示块 -->
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>堆内存使用</h3>
                            <span>堆内存的使用情况</span>
                        </div>

                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="heapMemory" style="display:inline-block;height: 200px;width: 200px"></div>
                        <div id="heapMemoryData"  style="display: inline-block;position: absolute;top: 35px;">
                            <h2>最大值:600Mib</h2>
                            <h2>已分配:600Mib</h2>
                            <h2>已使用:600Mib</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-3">

                <!-- 非堆内存显示块 -->
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>非堆内存使用</h3>
                            <span>非堆内存的使用情况</span>
                        </div>

                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="nonHeapMemory" style="display:inline-block;height: 200px;width: 200px"></div>
                        <div id="nonHeapMemoryData"  style="display: inline-block;position: absolute;top: 35px;">
                            <h2>最大值:600Mib</h2>
                            <h2>已分配:600Mib</h2>
                            <h2>已使用:600Mib</h2>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-3">

                <!-- 总线程显示块 -->
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>线程状态</h3>
                            <span>当前线程数量显示</span>
                        </div>

                    </div>
                    <div class="panel-body padding-0">
                        <div class="chart-holder" id="thread" style="height: 200px;display:inline-block;width: 200px"></div>
                        <div id="threadData"  style="display: inline-block;position: absolute;top: 35px;padding-left: 20px">
                            <h2>总线程数:</h2>
                            <h2>守护线程:</h2>
                            <h2>用户线程:</h2>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->


<div th:include="fragments/layout :: messageBox" th:remove="tag">

</div>


<!-- START SCRIPTS -->
<div th:include="fragments/layout :: allHasJs" th:remove="tag">

</div>

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type="text/javascript" src="/js/plugins/morris/raphael-min.js"></script>
<script type="text/javascript" src="/js/plugins/morris/morris.min.js"></script>
<script type="text/javascript" src="/js/plugins/rickshaw/d3.v3.js"></script>
<script type="text/javascript" src="/js/plugins/rickshaw/rickshaw.min.js"></script>
<script type='text/javascript' src='/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
<script type='text/javascript' src='/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
<script type='text/javascript' src='/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="/js/plugins/owl/owl.carousel.min.js"></script>

<script type="text/javascript" src="/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="/js/plugins/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-table-zh-CN.min.js"></script>

<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<div th:include="fragments/layout :: templateJs" th:remove="tag"></div>
<!-- END TEMPLATE -->
<script>
    var dataJ = undefined;
    $(function () {
        flashDash();
    });

    function flashDash() {
        $.ajax({
            dataType: "json",
            url: "/metrics",
            success: function (data) {
                dataJ = data;

                memoryChart();
                threadChart();
                heapMemoryChart();
                nonHeapMemoryChart();
            },
            error: function (status) {
                $("#dashboardC").html("<div class=\"panel panel-danger\">\n" +
                    "                                <div class=\"panel-heading\">\n" +
                    "                                    <h3 class=\"panel-title\">访问错误</h3>\n" +
                    "                                </div>\n" +
                    "                                <div class=\"panel-body\">\n" +
                    "                                    <p>获取性能数据失败</p>\n" +
                    "                                    <p>可能是因为系统异常或者您没有权限</p>\n" +
                    "                                </div>     \n" +
                    "                                <div class=\"panel-footer\">\n" +
                    "                                    <button onclick='history.go(-1)' class=\"btn btn-default\">返回</button>\n" +
                    "                                    <button onclick='location.reload()' class=\"btn btn-primary pull-right\">刷新</button>\n" +
                    "                                </div>                            \n" +
                    "                            </div>   ");
            }
        });

    }

    function memoryChart() {
        $('#memory').empty();
        var memData = $("#memoryData");
        memData.empty();
        Morris.Donut({
            element: 'memory',
            data: [
                {label: "已使用", value: kbiToMbi(dataJ['mem'] - dataJ['mem.free'])},
                {label: "未使用", value: kbiToMbi(dataJ['mem.free'])}
            ],
            colors: ['#33414E', '#1caf9a', '#FEA223'],
            resize: true,
            formatter: function (value) {
                return value + 'Mbi';
            }
        });
        memData.append("<h2>总内存:" + kbiToMbi(dataJ['mem']) + "Mib</h2>\n" +
            "<h2>未使用:" + kbiToMbi(dataJ['mem.free']) + "Mib</h2>\n" +
            "<h2>已使用:" + kbiToMbi(dataJ['mem'] - dataJ['mem.free']) + "Mib</h2>");
    }

    function threadChart() {
        $('#thread').empty();
        var threadData = $("#threadData");
        threadData.empty();
        Morris.Donut({
            element: 'thread',
            data: [
                {label: "守护线程", value: dataJ['threads.daemon']},
                {label: "用户线程", value: dataJ['threads'] - dataJ['threads.daemon']}
            ],
            colors: ['#33414E', '#1caf9a', '#FEA223'],
            resize: true,
            formatter: function (value) {
                return value + '个';
            }
        });
        threadData.append("<h2>总线程数:" + dataJ['threads'] + "个</h2>\n" +
            "<h2>守护线程:" + dataJ['threads.daemon'] + "个</h2>" +
            "<h2>用户线程:" + (dataJ['threads'] - dataJ['threads.daemon']) + "个</h2>");
    }

    function heapMemoryChart() {
        $('#heapMemory').empty();
        var memData = $("#heapMemoryData");
        memData.empty();
        Morris.Donut({
            element: 'heapMemory',
            data: [
                {label: "已使用", value: kbiToMbi(dataJ['heap.used'])},
                {label: "未使用", value: kbiToMbi(dataJ['heap.committed'] - dataJ['heap.used'])}
            ],
            colors: ['#33414E', '#1caf9a', '#FEA223'],
            resize: true,
            formatter: function (value) {
                return value + 'Mbi';
            }
        });
        memData.append("<h2>最大值:" + kbiToMbi(dataJ['heap']) + "Mib</h2>\n" +
            "<h2>已分配:" + kbiToMbi(dataJ['heap.committed']) + "Mib</h2>\n" +
            "<h2>已使用:" + kbiToMbi(dataJ['heap.used']) + "Mib</h2>");
    }

    function nonHeapMemoryChart() {
        $('#nonHeapMemory').empty();
        var memData = $("#nonHeapMemoryData");
        memData.empty();
        Morris.Donut({
            element: 'nonHeapMemory',
            data: [
                {label: "已使用", value: kbiToMbi(dataJ['nonheap.used'])},
                {label: "未使用", value: kbiToMbi(dataJ['nonheap.committed'] - dataJ['nonheap.used'])}
            ],
            colors: ['#33414E', '#1caf9a', '#FEA223'],
            resize: true,
            formatter: function (value) {
                return value + 'Mbi';
            }
        });
        memData.append("<h2>最大值:" + kbiToMbi(dataJ['nonheap']) + "Mib</h2>\n" +
            "<h2>已分配:" + kbiToMbi(dataJ['nonheap.committed']) + "Mib</h2>\n" +
            "<h2>已使用:" + kbiToMbi(dataJ['nonheap.used']) + "Mib</h2>");
    }
</script>
<!-- END SCRIPTS -->

</body>
</html>






