<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header (pageTitle='搜索')">
    <meta charset="utf-8" />
    <title th:text="${pageTitle}">Template title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/metro.min.css" rel="stylesheet" />
    <link href="/css/metro-icons.min.css" rel="stylesheet" />
    <link href="/css/recordme.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/metro.min.js"></script>

</head>
<body>
    <div class="grid">
        <div class="row cells12">
            <div class="cell" style="height: 30%"></div>
        </div>
        <div class="row cells12">
            <div class="cell">
                <div class="input-control text " data-role="input">
                    <input type="text" id="keyWord"/>
                    <button class="button" onclick="search()"><span class="mif-search"></span></button>
                </div>

                <div id="resultContent">
                    <div>
                        <a href="http://www.baidu.com">
                            <div><h1>Java高级工程师</h1></div>
                        </a>
                        <div>
                            <p>
                                职位简介
                            </p>
                        </div>
                        <div>
                            来源：
                        </div>
                        <div>
                            进入
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generResultDiv(jobObj) {
            var html = [];
            html.push('<div><a href="');
            html.push(jobObj['url']);
            html.push('"><div><h1>');
            html.push(jobObj['job_name'][0]);
            html.push('</h1></div></a><div><p>');
            html.push(jobObj['job_description'][0]);
            html.push('</p></div>');
            return html.join("");
        }
        function search() {
            var keyWord = $("#keyWord").value;
            $.post("api/search", { keyWord: keyWord} ,function(data) {
                var resultC = $("#resultContent");
                resultC.innerHTML = "";
                $.each(data['response']['docs'], function(index, value, array) {
                    resultC.append(generResultDiv(value));
                });
            },"json");
        }
    </script>
</body>
</html>