<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header (pageTitle='词库管理')">
    <!-- META SECTION -->
    <title>Joli Admin - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" href="/css/theme-default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.min.css"/>
    <!-- EOF CSS INCLUDE -->
</head>


<body>


<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top-fixed">

    <!-- START PAGE SIDEBAR -->
    <div th:include="fragments/layout :: sideBar" th:remove="tag"></div>
    <!-- END PAGE SIDEBAR -->


    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <div th:include="fragments/layout :: contentTop" th:remove="tag"></div>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="index">首页</a></li>
            <li class="active">词库列表</li>
        </ul>
        <!-- END BREADCRUMB -->

        <div class="page-title">
            <h2><a href="/"><span class="fa fa-arrow-circle-o-left"></span></a> 词库列表</h2>
        </div>

        <!--状态提示框-->
        <div id="alertBoxDiv"></div>
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="toolbar">
                                <button id="remove" class="btn btn-default" onclick="newLexiconmodel()">
                                    <i class="glyphicon glyphicon-plus"></i> 新增职业
                                </button>
                            </div>
                            <table id="lexiconDateTable" class="table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<div class="modal fade" id="lexiconModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" id="lexiconModalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="lexiconModalLabel">职业编辑</h4>
            </div>
            <form method="post" class="form-horizontal" role="form" id="lexiconForm">
                <div class="modal-body">

                    <input id="id" name="id" value="" type="hidden"/>

                    <div class="form-group">
                        <label for="classification" class="col-sm-2 control-label">职业:</label>
                        <div class="col-sm-10">
                            <input type="text" name="classification" class="form-control" id="classification"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">职业描述:</label>
                        <div class="col-sm-10">
                            <input type="text" name="description" class="form-control" id="description"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parentNode" class="col-sm-2 control-label">父节点:</label>
                        <div class="col-sm-10">
                            <input type="text" name="parentNode" class="form-control" id="parentNode"/>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="modalButton" type="button" onclick="lexiconDataUpdate()" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
                <div style="z-index: 1501"></div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->


<div th:include="fragments/layout :: messageBox" th:remove="tag">

</div>


<!-- START SCRIPTS -->
<div th:include="fragments/layout :: allHasJs" th:remove="tag">

</div>

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type="text/javascript" src="/js/plugins/morris/raphael-min.js"></script>
<script type="text/javascript" src="/js/plugins/morris/morris.min.js"></script>
<script type="text/javascript" src="/js/plugins/rickshaw/d3.v3.js"></script>
<script type="text/javascript" src="/js/plugins/rickshaw/rickshaw.min.js"></script>
<script type='text/javascript' src='/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
<script type='text/javascript' src='/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
<script type='text/javascript' src='/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="/js/plugins/owl/owl.carousel.min.js"></script>

<script type="text/javascript" src="/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="/js/plugins/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-table-zh-CN.min.js"></script>

<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<div th:include="fragments/layout :: templateJs" th:remove="tag"></div>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
<script>
    $('#lexiconDateTable').bootstrapTable({
        url: "/lexiconCategories/lexicons",
        dataType: "json",
        pagination: true,
        sidePagination: "server",
        columns: [{
            field: 'id',
            title: 'ID'
        }, {
            field: 'classification',
            title: '职业'
        }, {
            field: 'description',
            title: '职业描述'
        }, {
            field: 'parentNode',
            title: '父节点',
        }, {
            field: 'id',
            title: '操作',
            formatter: function (value, row, index) {
                var e = '<button class="btn" onclick="lexiconModalDisplay(' + value + ')" >编辑</button> ';
                var d = '<button class="btn" onclick="lexiconDelete(' + value + ')" >删除</button>';
                return e + d;
            }
        }],
        toolbar: '#toolbar'
    });
    var alertBox = new AlertBox('alertBoxDiv');

    function lexiconModalDisplay(lexiconId) {
        $('#id').attr("disabled", false);
        fillFormUseAjax({
            url: '/lexiconCategories/lexicons/' + lexiconId
        }, $('#lexiconForm'));
        $("#lexiconModal").modal("show");
        $("#lexiconModalDialog").css("z-index", "1500");
    }

    function lexiconDataUpdate() {
        ajaxFormSubmit({
            url: '/lexiconCategories/lexiconsUpdate',
            type: 'post',
            success: function (data) {
                $("#lexiconModal").modal("hide");
                if (data['statusCode'] === 1000) {
                    alertBox.addNewAlert('success', "操作成功", "你所做的修改已生效");
                    $('#lexiconDateTable').bootstrapTable('refresh');

                } else {
                    alertBox.addNewAlert('danger', "操作失败", data['message']);
                    $('#lexiconDateTable').bootstrapTable('refresh');
                }
            },
            error: function (e) {

            }
        }, 'lexiconForm')
    }

    function lexiconDelete(lexiconId) {
        if (!window.confirm("确认删除该权限吗")) {
            return false;
        }
        $.ajax({
            url: '/lexiconCategories/lexiconsUpdate',
            type: 'POST',
            data: {
                id: lexiconId
            },
            success: function (data) {
                if (data['statusCode'] === 1000) {
                    alertBox.addNewAlert('success', "操作成功", "已删除所选记录");
                    $('#lexiconDateTable').bootstrapTable('refresh');
                } else {
                    alertBox.addNewAlert('danger', "操作失败", data['message']);
                    $('#lexiconDateTable').bootstrapTable('refresh');
                }
//                reflashUserData();
            },
            error: function (e) {
                console.log("fillFormUseAjax:Error:Ajax request error");
            }
        });
    }

    function newLexiconmodel() {
        $('#lexiconForm')[0].reset();
        $('#id').attr("disabled", true);
        $("#lexiconModal").modal("show");
        $("#lexiconModalDialog").css("z-index", "1500");
    }
</script>
</body>
</html>






