<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header (pageTitle='登陆')">
</head>
<body>
<!--<div class="app-bar bg-cyan" data-role="appbar">-->

        <!--<a class="app-bar-element" href="">Home</a>-->
        <!--<span class="app-bar-divider bg-cyan"></span>-->
        <!--<ul class="app-bar-menu">-->
            <!--<li><a href="">Home</a></li>-->
            <!--<li>-->
                <!--<a href="" class="dropdown-toggle">Products</a>-->
                <!--<ul class="d-menu" data-role="dropdown">-->
                    <!--<li><a href="">Windows 10</a></li>-->
                    <!--<li><a href="">Spartan</a></li>-->
                    <!--<li><a href="">Outlook</a></li>-->
                    <!--<li><a href="">Office 2015</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="" class="dropdown-toggle">Other Products</a>-->
                        <!--<ul class="d-menu" data-role="dropdown">-->
                            <!--<li><a href="">Internet Explorer 10</a></li>-->
                            <!--<li><a href="">Skype</a></li>-->
                            <!--<li><a href="">Surface</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="">Support</a></li>-->
            <!--<li><a href="">Help</a></li>-->
        <!--</ul>-->


<!--</div>-->
<div class="grid">
    <div class="row cells12">
        <div class="cell colspan4"></div>
        <div class="cell colspan4"></div>
        <div class="cell colspan3">
            <div class="login-form padding40 block-shadow " style="opacity: 1; transform: scale(1); transition: 0.5s;">
                <form method="post" action="/loginI">
                    <h1 class="text-light" style="margin-bottom: 10px">登陆</h1>
                    <hr class="thin" />
                    <br/>
                    <div class="input-control text full-size" data-role="input">
                        <label for="username">用户名</label>
                        <input id="username" name="username" type="text" style="padding-right: 42px; width:100% "/>
                        <button class="button helper-button clear" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                    <br/>
                    <br/>
                    <div class="input-control password full-size" data-role="input">
                        <label for="password">密码</label>
                        <input id="password" name="password" type="password" style="padding-right: 42px;width:100%"/>
                        <button class="button helper-button reveal" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-actions">
                        <a href="/register" class="button" style="float:right ; margin-left:10px">注册</a>
                        <button type="submit" class="button primary" style="float:right">登陆</button>
                        <label class="input-control radio small-check">
                            <input type="radio">
                            <span class="check"></span>
                            <span class="caption">记住密码</span>
                        </label>
                        <a href="" style="margin-left: 10px">忘记密码</a>
                        <p th:text="${msg}" th:if="${msg}"></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="cell " >
        </div>
    </div>
</div>

<!--</body>-->
<!--</html>-->