<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header (pageTitle='权限树')">

</head>
<body>
<div class="treeview"
     data-role="treeview"
     id="role_tree">

</div>
<script type="text/javascript">

    function tree_add_root(name,id,isChecked){
        var tree = $("#role_tree").data("treeview");
        tree.addLeaf(false, name,{
            mode: 'checkbox',
            checked: isChecked,
            name: 'permission',
            value: id,
            id:'permission'+id
        });
    }
    function tree_add_leaf(parentId,name,id,isChecked){
        var tree = $("#role_tree").data("treeview");
        var node = tree.element.find("[data-value='"+ parentId + "']" );
        tree.addLeaf(node, name,{
            mode: 'checkbox',
            checked: isChecked,
            name: 'permission',
            value: id,
            id:'permission'+id
        });
    }
</script>

<script th:inline="javascript">
    $.ajax({
        type: "POST",
        url: "/AuthorizationManage/permissionData",
        data: [[${roleId}?'roleId=' + ${roleId}:null]],//模板引擎 内联表达式
        dataType: "json",
        success: function(data){
            var hadSelected = [];
            $.each(data['hadPermission'], function(commentIndex, comment){
                hadSelected.push(comment['id']);
            });
            $.each(data['allPermission'], function(commentIndex, comment){
                if(comment['parentId'] === null){
                    tree_add_root(comment['name'],comment['id'],$.inArray(comment['id'],hadSelected)!== -1);
                }else{
                    tree_add_leaf(comment['parentId'],comment['name'],comment['id'],$.inArray(comment['id'],hadSelected)!== -1);
                }
            });
        }
    });
</script>
</body>
</html>