<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <a href="/AuthorizationManage/permissionList">返回列表</a>
    <form action="/AuthorizationManage/permissionUpdate"  method="post">
        <input th:value="${permission.id}" type="hidden" name="id"/>
        <label for="name">名称</label> <input th:value="${permission.name}" type="text" id="name" name="name"/>
        <label for="url">url</label> <input th:value="${permission.url}" type="text" id="url" name="url"/>
        <label for="permission">权限</label> <input th:value="${permission.permission}" type="text" id="permission" name="permission"/>
        <label for="resourceType">类型</label> <input th:value="${permission.resourceType}" type="text" id="resourceType" name="resourceType"/>
        <input type="submit"/>



    </form>
</body>
</html>