<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header (pageTitle='注册')">
    <title>Page title</title>
    <!-- metas, link and scripts -->
</head>
<body>
<div class="register-form padding20 block-shadow" style="opacity: 1; transform: scale(1); transition: 0.5s;  overflow:auto;">
    <form method="post">
        <h1 class="text-light">注册</h1>
        <hr class="thin" />
        <br/>
        <div class="input-control text full-size" data-role="input"><label th:for="username">用户名</label><input id="username" name="username" class="" type="text"  /></div><br/><br/>
        <div class="input-control password full-size" data-role="input"><label for="password" >密码</label><input id="password" name="password" type="text" /></div><br/><br/>
        <div class="input-control text full-size" data-role="input"><label th:for="name">昵称</label><input id="name" name="name" class="" type="text"  /></div><br/><br/>
        <div class="input-control text full-size" data-role="input"><label th:for="true_name">真实姓名</label><input id="true_name" name="true_name" class="" type="text"  /></div><br/><br/>
        <div class="input-control text full-size" data-role="input"><label th:for="country">城市</label><input id="country" name="country" class="" type="text"  /></div><br/><br/>
        <div class="input-control text full-size" data-role="input"><label th:for="email">电子邮箱</label><input id="email" name="email" class="" type="text"  /></div><br/><br/>
        <div class="input-control text full-size" data-role="input"><label th:for="sex">性别</label><input id="sex" name="sex" class="" type="text"  /></div><br/><br/>

        <br/>

        <div class="form-actions">
            <button type="submit" class="button primary">注册</button>
            <a href="/login" class="button">登陆</a>
            <p th:text="${msg}" th:if="${msg}"></p>
        </div>
    </form>
</div>
</body>
</html>