
<div class="treeview"
     data-role="treeview"
     id="role_tree">

</div>

<script type="text/javascript">

    function tree_add_root(name,id,isChecked){
        var tree = $("#role_tree").data("treeview");
        tree.addLeaf(false, name,{
            mode: 'checkbox',
            checked: isChecked,
            name: 'roles',
            value: id,
            id:'roles'+id
        });
    }
    function tree_add_leaf(parentId,name,id,isChecked){
        var tree = $("#role_tree").data("treeview");
        var node = tree.element.find("[data-value='"+ parentId + "']" );
        tree.addLeaf(node, name,{
            mode: 'checkbox',
            checked: isChecked,
            name: 'roles',
            value: id,
            id:'roles'+id
        });
    }
</script>

<script th:inline="javascript">
    $.ajax({
        type: "POST",
        url: "/AuthorizationManage/roleData",
        data: [[${userInfoId}?'userInfoId=' + ${userInfoId}:null]],//模板引擎 内联表达式
        dataType: "json",
        success: function(data){
            var hadSelected = [];
            $.each(data['hadRoles'], function(commentIndex, comment){
                hadSelected.push(comment['id']);
            });
            $.each(data['allRoles'], function(commentIndex, comment){
                if(comment['parent_role'] === null){
                    tree_add_root(comment['role'],comment['id'],$.inArray(comment['id'],hadSelected)!== -1);
                }else{
                    tree_add_leaf(comment['parent_role'],comment['role'],comment['id'],$.inArray(comment['id'],hadSelected)!== -1);
                }
            });
        }
    });
</script>
