
    <a class="jump" href="/AuthorizationManage/roleList">返回列表</a>
    <form action="/AuthorizationManage/roleUpdate" method="post">
        <input th:value="${role.id}" type="hidden" name="id"/>
        <label for="role">名称</label> <input th:value="${role.role}" type="text" id="role" name="role"/>
        <label for="description">描述</label> <input th:value="${role.description}" type="text" id="description" name="description"/>
        <label for="available">是否可用</label>
        <select id="available" name="available">
            <option th:value="false" th:selected="${role.available}">不可用</option>

            <option th:value="true" th:selected="${role.available}">可用</option>
        </select>
        <input class="button" type="button" th:onclick="'editPermission('+ ${role.id} +')'" value="编辑权限" />
        <div id="permissionEditor"></div>
        <input type="submit" />



    </form>
    <script>
        function editPermission(roleId) {
            $("#permissionEditor").load("/AuthorizationManage/permissionTree?roleId=" + roleId);
        }
    </script>
