<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/layout :: header (pageTitle='用户管理')">-->

<!--</head>-->
<!--<body>-->
    <table class="table bordered border striped">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>性别</th>
                <th>地址</th>
                <th>微信账号</th>
                <th>状态</th>
                <th>出生日期</th>
                <th>国家</th>
                <th>邮件</th>
                <th>qq</th>
                <th>电话号码</th>
                <th>最后登录时间</th>
                <th>创建时间</th>
                <th>ip地址</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr th:each="userInfo,stat:${userInfos}">
            <td th:text="${userInfo.uid}">id</td>
            <td th:text="${userInfo.username}">username</td>
            <td th:text="${userInfo.true_name}">嘭嘭嘭</td>
            <td th:text="${userInfo.sex == 1}?'男':'女'">男</td>
            <td th:text="${userInfo.address}">地址</td>
            <td th:text="${userInfo.we_chat_account}">微信账号</td>
            <span th:switch="${userInfo.state}">
                <td th:case="'0'">创建未验证</td>
                <td th:case="'1'">正常</td>
                <td th:case="'2'">用户被锁定</td>
            </span>

            <td th:text="${userInfo.birth_date != null} ? ${#dates.format(userInfo.birth_date, 'yyyy-MM-dd HH:mm:ss')}">出生日期</td>
            <td th:text="${userInfo.country}">国家</td>
            <td th:text="${userInfo.email}">电子邮件</td>
            <td th:text="${userInfo.qq}">qq</td>
            <td th:text="${userInfo.phone}">电话号码</td>

            <td th:text="${userInfo.last_login_time != null} ? ${#dates.format(userInfo.last_login_time, 'yyyy-MM-dd HH:mm:ss')}">1970.0.0 19:00:00</td>
            <td th:text="${userInfo.new_time != null} ? ${#dates.format(userInfo.new_time, 'yyyy-MM-dd HH:mm:ss')}">1970.0.0 19:00:00</td>
            <td th:text="${userInfo.ip_address}">127.0.0.1</td>
            <td><a class="jump" th:href="@{/AuthorizationManage/userInfoView(uid=${userInfo.uid})}">查看</a></td>
        </tr>

    </table>
<!--</body>-->
<!--</html>-->