<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form th:action="@{/user/update}" th:method="post">
        <input id="uid" name="uid" class="" type="hidden" th:value="${userInfo.uid}" />
        <label th:for="address">地址</label><input id="address" name="address" class="" type="text" th:value="${userInfo.address}" />
        <label th:for="birth_date">生日</label><input id="birth_date" name="birth_date" class="" type="date" th:value="${userInfo.birth_date}" />
        <label th:for="country">城市</label><input id="country" name="country" class="" type="text" th:value="${userInfo.country}" />
        <label th:for="email">电子邮箱</label><input id="email" name="email" class="" type="text" th:value="${userInfo.email}" />
        <label th:for="info_shield">消息过滤</label><input id="info_shield" name="info_shield" class="" type="text" th:value="${userInfo.info_shield}" />
        <label th:for="ip_address">ip地址</label><input id="ip_address" name="ip_address" class="" type="text" th:value="${userInfo.ip_address}" />
        <label th:for="last_login_time">最后登录时间</label><input id="last_login_time" name="last_login_time" class="" type="date" th:value="${userInfo.last_login_time}" />
        <label th:for="name">昵称</label><input id="name" name="name" class="" type="text" th:value="${userInfo.name}" />
        <label th:for="new_time">注册时间</label><input id="new_time" name="new_time" class="" type="date" th:value="${userInfo.new_time}" />
        <label th:for="phone">电话</label><input id="phone" name="phone" class="" type="text" th:value="${userInfo.phone}" />
        <label th:for="qq">QQ</label><input id="qq" name="qq" class="" type="text" th:value="${userInfo.qq}" />

        <label th:for="sex">性别</label><input id="sex" name="sex" class="" type="text" th:value="${userInfo.sex}" />
        <label th:for="state">状态</label><input id="state" name="state" class="" type="text" th:value="${userInfo.state}" />
        <label th:for="true_name">真实姓名</label><input id="true_name" name="true_name" class="" type="text" th:value="${userInfo.true_name}" />
        <label th:for="username">用户名</label><input id="username" name="username" class="" type="text" th:value="${userInfo.username}" />
        <label th:for="we_chat_account">微信账号</label><input id="we_chat_account" name="we_chat_account" class="" type="text" th:value="${userInfo.we_chat_account}" />
        <input th:type="submit" th:title="提交" />
    </form>
</body>
</html>