<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>用户ID</td>
            <td>用户名</td>
            <td>真实姓名</td>
            <td>性别</td>
            <td>地址</td>
            <td>微信账号</td>
            <td>状态</td>
            <td>出生日期</td>
            <td>国家</td>
            <td>邮件</td>
            <td>qq</td>
            <td>电话号码</td>
            <td>最后登录时间</td>
            <td>创建时间</td>
            <td>ip地址</td>
            <td>操作</td>
        </tr>

        <tr th:each="user,stat:${userInfo}">
            <td th:text="${user.uid}">id</td>
            <td th:text="${user.username}">username</td>
            <td th:text="${user.truename}">嘭嘭嘭</td>
            <td th:text="${user.sex == 1}?'男':'女'">男</td>
            <td th:text="${user.address}">地址</td>
            <td th:text="${user.we_chat_account}">微信账号</td>
            <span th:switch="${user.state}">
                <td th:case="'0'">创建未验证</td>
                <td th:case="'1'">正常</td>
                <td th:case="'2'">用户被锁定</td>
            </span>

            <td th:text="${#dates.format(user.birth_date, 'yyyy-MM-dd')}">出生日期</td>
            <td th:text="${user.country}">国家</td>
            <td th:text="${user.email}">电子邮件</td>
            <td th:text="${user.qq}">qq</td>
            <td th:text="${user.phone}">电话号码</td>

            <td th:text="${user.last_login_time}">1970.0.0 19:00:00</td>
            <td th:text="${user.new_time}">1970.0.0 19:00:00</td>
            <td th:text="${user.ip_address}">127.0.0.1</td>
            <td><a th:href="@{/user/view(uid=${user.uid})}">查看</a></td>
        </tr>

    </table>
</body>
</html>