<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/layout :: header (pageTitle='首页')">

</head>
<body>

    <div class="app-bar" data-role="appbar">
        <div class="container">
            <a class="app-bar-element" href="">Home</a>
            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a href="">Home</a></li>
                <li>
                    <a href="" class="dropdown-toggle">系统管理</a>
                    <ul class="d-menu" data-role="dropdown">
                        <li><a class="jump" href="AuthorizationManage/userInfoList">用户管理</a></li>
                        <li><a class="jump" href="AuthorizationManage/permissionList">权限管理</a></li>
                        <li><a class="jump" href="AuthorizationManage/roleList">角色管理</a></li>

                        <li class="divider"></li>
                        <li><a href="" class="dropdown-toggle">Other Products</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="">Internet Explorer 10</a></li>
                                <li><a href="">Skype</a></li>
                                <li><a href="">Surface</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Support</a></li>
                <li><a href="">Help</a></li>
            </ul>
            <div class="app-bar-element place-right">
                <a class="dropdown-toggle fg-white">
                    <span th:class="${userInfo != null}?'mif-user':'mif-enter'"></span>
                    <b th:remove="tag" th:text="${userInfo != null}?${userInfo.name}:'登陆'"></b>
                </a>
                <div th:if="${userInfo== null}" class="app-bar-drop-container bg-white fg-dark place-right"
                     data-role="dropdown" data-no-close="true">
                    <div class="padding20">
                        <form th:action="@{/login}" th:method="POST">
                            <h4 class="text-light">登陆</h4>
                            <div class="input-control text">
                                <span class="mif-user prepend-icon"></span>
                                <input id="username" name="username" type="text">
                            </div>
                            <div class="input-control text">
                                <span class="mif-lock prepend-icon"></span>
                                <input id="password" name="password" type="password">
                            </div>
                            <label class="input-control checkbox small-check">
                                <input type="checkbox">
                                <span class="check"></span>
                                <span class="caption">Remember me</span>
                            </label>
                            <div class="form-actions input-control">
                                <button type="submit" class="button primary">登陆</button>
                                <button class="button" onclick="window.open('/register')">注册</button>
                                <p th:text="${msg}" th:if="${msg}"></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${userInfo != null}" class="app-bar-drop-container bg-white fg-dark place-right"
                     data-role="dropdown" data-no-close="true">
                    <div class="padding20">

                        <h4 class="text-light">个人信息</h4>
                        <div class="input-control text">
                            <span >用户：</span>
                            <span th:text="${userInfo.name}"></span>
                        </div>
                        <div class="form-actions">
                            <button onclick="window.open('/logout')" class="button">Logout</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container page-content">
        <div id="pageDiv"></div>
        <a class="jump" href="AuthorizationManage/userInfoList" >用户管理</a>
        <a class="jump" href="AuthorizationManage/permissionList">权限管理</a>
        <a class="jump" href="AuthorizationManage/roleList">角色管理</a>

    </div>
    <script>
        var status = true;
        var handle = function (evt) {
            if(status){
                status = false;
                evt.preventDefault();
                var div = $('#pageDiv');
                div.innerHTML = "";
                div.load(this.href,function(response,status,xhr){
                        var links = document.querySelectorAll('a.jump');
                        catchA(links);

                    }
                );
                status = true;
            }


        };
        $(document).ready(function(){
            var links = document.querySelectorAll('a.jump');
            catchA(links);
        });
        function catchA(links){
            Array.prototype.forEach.call(links, function (link) {
                link.removeEventListener('click', handle);
                link.addEventListener('click', handle );
            });
        }
    </script>

</body>
</html>